[2020-12-24 07:59] kujaku11 opened #1 "Factor large files into smaller ones"
Move metadata descriptions into a single file for each element.

[2020-12-24 08:00] kujaku11 opened #2 "Create metadata for EMTF XML"
Create the metadata standards for EMTF XML data and translation into a more standard version similar to the time series metadata.

[2020-12-24 08:01] kujaku11 opened #3 "Create documentation for each standard"
Create sphinx documentation for each standard

[2020-12-24 08:02] kujaku11 opened #4 "Get up on PIP and Conda"
Build the infrastructure to get up onto PIP and Conda so that it can be installed easily.

[2021-01-09 03:24] kkappler opened #5 "Create Filters XML Reader"
We need one.
migrate /mth5/examples/filter_prototyping.py into metadata repository and make it read filters.xml

[2021-01-12 18:50] kujaku11 commented on #5
Good thought.  I guess there are 2 things.

1. How should we split the difference between the filter metadata and filter data? Or should there be a difference?
2. Obspy should be the reader for a StationXML filter then we need to translate that into mt filter.  So is the current status of mt_filter metadata comprehensive enough to hold any filter?

[2021-01-15 05:02] kujaku11 opened #7 "dateutil parser return tzlocal instead of tzutc"
When  GitActions runs the test there is a bug that dateutil.parser.parse returns a datetime.datetime object with a time zone of tzlocal instead of the correct tzutc.

This issue has been reported [here](https://github.com/dateutil/dateutil/issues/349).

[2021-01-15 05:16] kujaku11 commented on #7
Should use the suggestion to use dateutil.parser.isoparser for datetime strings that can be parsed that way.  If that fails then use the general parser for weird dates.

[2021-02-22 03:52] #7 closed

[2021-02-24 06:58] kujaku11 opened #11 "Create translator to and from StationXML"
To archive at IRIS a StationXML needs to be created.  Tools need to be created to translate between StationXML and MT metadata.

[2021-02-24 06:59] kujaku11 commented on #11
Duplicate of #10

[2021-02-24 06:59] #11 closed

[2021-02-24 07:00] kujaku11 commented on #1
Done

[2021-02-24 07:00] #1 closed

[2021-02-25 23:02] kkappler opened #12 "Undesirable Mutability in Base() (of Filter) Class"
Instances of Filters are changing live when other filters are being instantiated.

Here is a 6-line code to demonstrate:

[code]

[2021-02-26 00:19] kujaku11 commented on #12
@kkappler Fixed this issue, it had to do with how the _attr_dict was being instantiated.  It needed to be a new dictionary, otherwise its a mutable object that is passed to each instance of that class, hence unwanted inheritance.  I just pushed a fix to
 branch `filters`.

For future filters follow this type of instantiation:

[code]

[2021-03-03 22:14] #12 closed

[2021-03-03 22:18] kujaku11 opened #13 "Logger Error when importing mt_metadata"
Get a LoggerError when importing mt_metadata if another process is running.  This makes the logger enter an crazy loop.  Probably has something to do with rotating file handler.

[2021-03-09 04:22] kkappler opened #14 "Merged Filters Complex Response should Ignore Time Delay type filters."
The complex response for the time delay filter should in general be avoided.  ")
 1. It can suffer some pretty serious phase wrapping as frequencies grow, making the plots hard to interpret
2. When applied to finite time series it rolls the timeseries (in the np.roll() sense) resulting in data from late time showing up at early time - i.e. non physical data which will result in incorrect processin

[2021-03-19 21:47] kkappler opened #15 "Reconcile StageGain and NormalizationFactor in PoleZeroFilter"
1. Stage gain in PoleZeroFilter getting lost after reading in from StationXML.  Track down where stage gain is going.  We will want to merge this in with the normalization_factor in a PoleZeroFilter() instance so that all gain is in one place.

2. Be careful of the "multiplicative sense" of the stage gain when incorporating into the complex response.
 i.e. backing out a 10x gain means divide by 10

[2021-03-19 21:52] kkappler opened #16 "Add InstrumentSensitivity support to ChannelResponseFilter"
In order to support mapping mth5 metadata to StationXML we need to be able to generate the
<InstrumentSensitivity>
</InstrumentSensitivity>
xml block.

This is a "grand total" for all filter stages in a channel and thus belonds in the ChannelResponseFilter() class

[2021-03-23 17:38] kujaku11 opened #17 "Create a `to_obspy` function for filters"
Need to create functions for each filter object that will output an Obspy stage.

Also need to create logic to put the stages in order and have the ability to input normalization frequency, gain and gain frequency.

And have a way to compute the total response to get the instrument sensitivity

[2021-03-23 18:05] kujaku11 commented on #17
@kkappler I started with the PolesZerosFilter and added a `to_obspy` function on branch `stationxml_filters`, its basic and there are probably some nuances that need to be addressed like how to identify the stage number, the normalization frequency, the type of pz filter, etc.  I put those in the arguments list of the function.

[2021-03-24 14:35] kkappler commented on #15
It looks like the stage gain is not being added to the kwargs dictionary in filter.py
in the method from_obspy_stage().

Here is the kwargs dict that we are getting
{'input_units': 'units_in',
 'name': 'name',
 'output_units': 'units_out',
 '_zeros': '_zeros',
 '_poles': '_poles',
 'normalization_factor': 'normalization_factor'}

One solution maybe to add stage_gain to /timeseries/filters/standard

[2021-03-24 15:02] kkappler commented on #15
adding stage_gain to the global OBSPY_MAPPING is not enough, will try adding it to filter.json

This brings up a question -- shall we put gain as an attr for any filter?  We are doing this now to accommodate populating via obspy, but if we add it in general then we need to define it ... and as mentioned in the initial ticket, how this related to normalization_factor ... it maybe best to make an @p

[2021-03-24 16:14] kkappler commented on #15
Added total_gain() methods to both filter base class and pole-zero filter.

Also added a placeholder test called test_correct_sense_of_normalization_factor() to test_filters.py

Hopefully we can leverage:
mth5/examples/make_mth5_from_nims.py to do this

[2021-03-24 23:19] kujaku11 commented on #16
@kkappler I added a function to ChannelResponseFilter that will estimate the instrument sensitivity for a given normalization frequency.  And added a validator and some logic for units consistency.  The sensitivity is slightly off from what is in the original stationxml, but not much.  For the magnetic channel the original is 100 and the computed is 100.99.  Not sure if that is an our error or an

[2021-03-25 16:59] kujaku11 commented on #15
@kkappler What about a normalization frequency, is that something the user should input, or is that something we can estimate from the filters, like finding the pass band of the combined filters?

could do this by finding the minimum slope in the amplitude of the combined filters? Or could have a function that estimates the normalization frequency for each filter.  Or just take it from the ZPK or

[2021-03-25 17:54] kujaku11 commented on #15
@kkappler I added a simple function in PoleZerosFilter to estimate the normalization frequency of the pass band.  This is then used in ChannelResponseFilter to estimate the instrument sensitivity.  Its simple for now, might want to check my work.

[2021-03-25 20:14] kkappler opened #18 "Filter complex responses should accept a single floating point as an input"

[2021-03-25 20:21] kkappler commented on #16
This is now returning 100 (to within 6 sigfig)

[2021-03-25 20:22] kkappler commented on #16
The electric field response was showing 4 orders difference -- debug that

[2021-03-25 20:24] kkappler commented on #5
We are creating filters from station XML

[2021-03-25 20:24] #5 closed

[2021-03-26 16:16] kujaku11 commented on #18
@kkappler  All filters should be able to accept a floating point number but all should return an array.  I did a quick update, but you should check to see if its what you had in mind.

[2021-03-26 17:00] kujaku11 commented on #16
@kkappler I have a suspicion that the instrument sensitivity in the xml files we have for electric channels are incorrect.  Because I have 2 files with the same electric filters but 2 different instrument sensitivities.  The one pulled off the DMC is 4.45955004E10 and the one from Anna is 40960000000.  Both are estimated at 0.01 Hz.  I don't see how they get these values from the normalization fac

[2021-03-26 17:38] kujaku11 commented on #16
@kkappler FIXED: Need to use total_gain in the ZPK filter then the numbers come out correctly

[2021-03-26 22:13] kujaku11 commented on #17
Everything seems to work.

[2021-03-26 22:13] #17 closed

[2021-03-26 22:13] #16 closed

[2021-03-26 22:16] kujaku11 commented on #15
By multiplying the stage gain and the normalization factor we get the correct sensitivity estimate.  We are setting the normalization frequency in the pass band, which is estimated from the filter.  Appears to be correct.

[2021-03-26 22:16] #15 closed

[2021-03-29 15:47] kkappler opened #20 "Create Frequency Response Lookup Table Filter class"
While we are not receiving these from IRIS today, we do anticipate this sort of filter to be available in the future.  Lets create a class for this and make the tests read for IRIS.  Also, these filters will be useful for the ongoing pole-zero fitting exercises

[2021-03-29 20:21] lheagy opened #21 "file in use?"
Is the [util.py](/util.py) file being used for something? or is this one we can clean out?

[2021-03-29 20:31] lheagy commented on #4
@kujaku11: do you have an account on the test pypi and pypi sites?
- test: https://test.pypi.org/account/register/
- pypi: https://pypi.org/account/register/

Would you mind sharing those with me? (here or on slack is fine)

[2021-03-29 20:46] kkappler commented on #21
I just deleted it and pushed ... some old file from when we were just starting the repo and not needed.

[2021-03-29 20:47] kkappler commented on #21
@lheagy : for the record, I deleted on the branch "stationxml_filters"

[2021-03-29 22:42] lheagy commented on #21
Thanks @kkappler, we can close this when #19 is merged in

[2021-03-30 04:06] kkappler commented on #14
Committed a change to address this.

There is still the issue of us potentially encountering filters that have a time delay, and a non-flat frequency response.  If we encounter such a filter it will not play nice.

I put a note in the Friday Discussion page to ask Tim about examples of these filters...

The only type of filter in the StationXML reference document that has a <Delay> </Delay> is the

[2021-03-30 14:22] kkappler commented on #18
added a test for this, passed, committed, pushed.  63ff054..fa10d4a

[2021-03-30 14:22] #18 closed

[2021-03-30 15:53] kkappler commented on #3
1a). Review __init__ considerations for filters
Karl is often declaring ivars under the __init__() method of the filter instance classes, but these seem to be handled inside the standard jsons.  Review the logic on this and describe it in a paragraph.
1b)  I.e. if the instance attributes are listed in the json and not the class what is the best way to make the documentation clearly show the instan

[2021-03-30 16:29] kkappler opened #22 "Table of instruments to calibrate and the response files from each"
Andy  volunteered to take this task on, but in the interim we will need a table with a few examples in order to test/validate issue#20.

Karl will build a temporary table like this with
1. Example zonge ant4 response from QF
2. Example LEMI424 response from Maeva

[2021-03-30 16:45] kujaku11 commented on #22
@kkappler I've got a bunch of Ant4 responses if you want.  If you want them let me know where a good place to put them is.

[2021-03-30 17:05] kkappler commented on #22
@kujaku11 : please create a folder under  mth5_test_data/mth5_test_data/calibration_files/  and dump in there.  Thanks

[2021-03-31 06:05] kujaku11 opened #23 "removing timeseries/filters/test_fiters.py"
@kkappler Do you mind if we move timeseries/filters/test_filters.py to tests and update?

[2021-03-31 06:14] kujaku11 opened #24 "Stop Loading Example Data from mth5_test_data"
Need to remove any dependencies on MTH5 and probably can remove dependencies on the mth5_test_data, the XML files are small enough to pack with mt_metadata.

Suggest putting any example XML files into the mt_metadata/data folder and load all files from there.  This should make the tests run easier and remove dependencies on too many external packages.

[2021-03-31 21:28] kkappler commented on #23
No problem - Lets do it!

[2021-03-31 21:29] kkappler commented on #24
Lets do the same with calibration files

[2021-03-31 21:30] kkappler opened #25 "Get all tests in mt_metadata passing"

[2021-03-31 21:33] kkappler opened #26 "Process for Getting Miniseed From IRIS and Submitting StationXML to IRIS"

[2021-03-31 23:57] kujaku11 commented on #25
All tests pass for now.  I will close this once a pull request is completed.

[2021-04-01 00:03] kujaku11 commented on #13
This error occur when there are multiple python processes are running and accessing the same log file.  The log file is set as a rotating handler, so once the logger hits a memory threshold a new logger file should be written.  However, since there are 2 or more processes accessing the same file the permission to close the current log file and open a new one gets messed up and you get an error wit

[2021-04-02 23:52] kkappler opened #27 "Fate of test_filters"
@kujaku11
Just updated stationxml_filters branch and it looks like test_filters.py is gone:

delete mode 100644 mt_metadata/timeseries/filters/test_filters.py
delete mode 100644 tests/timeseries/filters/test_filters.py

Was it dropped intentionally?  Or shall I restore it?

[2021-04-03 00:23] #23 closed

[2021-04-03 00:46] kujaku11 commented on #25
Famous last words.  All the test pass on my local machine, but now they don't pass on the GitTests.  It looks like it has to do with Obspy and how its instantiated.

@kkappler  or @lheagy any chance one of you can see what the difference is between the tests that passed a few days ago and the most recent ones that didn't pass?

[2021-04-03 00:56] lheagy opened #28 "two readmes"
It seems we have a readme both in md and rst. It can be a bit annoying to maintain two. Do you have  a preference for either? In the SimPEG repo, we stuck with the `rst` file as it was the same as the rest of the docs, but it doesn't make much difference, sphinx can handle both. So just suggesting we have one rather than two :-)

[2021-04-03 18:27] kkappler opened #30 "decide if scale factors module is to be included"
@kujaku11
Should we create a module with things like
degrees_to_radians
radians_to_degrees
mV_per_km_to_V_per_meter
V_per_meter_to_mV_per_km
etc?
It's a bit hokey but I think makes the code more readable and makes the codes less error prone by centralizing all the scale factors to one place where are imported from

maybe put in mt_metadata.util ?

[2021-04-03 20:05] kkappler commented on #14
The only StationXML stage that has a delay is the decimation stage.  It does not have a mechanism to apply a variable frequency response.  So we should in general be able to separate time delays from all other types of stages.

[2021-04-03 20:05] #14 closed

[2021-04-03 20:44] kkappler commented on #20
I created a prototype class for this and it is able to read in an example ant4 file and return the complex response.

 Once Tim has a sample fap table sending from IRIS we need to test that these are correctly read in by obspy and then address the obspy mapping.

[2021-04-04 21:13] kujaku11 commented on #28
I saw that too.  I put everything in the .md file, and removed the .rst.

[2021-04-04 21:14] kujaku11 commented on #25
Must have been the GitTest environment, everything is good now.

[2021-04-04 21:14] #25 closed

[2021-04-04 21:14] #21 closed

[2021-04-05 05:25] kujaku11 commented on #4
@lheagy Any chance you could bump the current version to 0.1.1.  I think there has been a good amount of development to warrant a bump.  I completed 2 PR's #19  and #29.  @kkappler agree?

[2021-05-26 20:48] kkappler opened #32 "FAP and FIR not landing in filter_list under Experiment() after cast from xml"
Working on branch fir_fap_filters

[2021-05-27 23:34] kkappler opened #33 "Unconventional StationXML"
Observed Issues:
1. sometimes magnetic field is identifed by channel code "T" rather than "F"
2. At least some historical station xml  files are returning units of Ampres and Tesla.  We need code to handle these cases and correct for them.  In particular, I think the Amperes reference is incorrect and the Tesla is contrary to our convention.
We need to both identify/log/report these issues and add

[2021-05-27 23:42] kkappler opened #34 "Calibrations extractable from Parkfield data"
Blocked by #33 #32

[2021-05-30 00:07] kkappler opened #35 "Anti-alias FIR Filter Discussion"
We are able to load these FIR filters.  These tend to be anti-alias filters applied during digitizer decimation processes.

1. The filters applied to the E and H will in general be the same so that ratios and TFs will not be affected assuming the survey uses the same acquisition systems -- which is common but not true in general
2. If we do back these filters out we need to sort out the phase shif

[2021-05-30 03:22] kkappler commented on #33
I have added a one off script to clean up the non-conformant xml at the inventory stage before it goes into mt_metadata.

[2021-06-01 20:33] kujaku11 commented on #30
@kkappler There should probably be something like this that accepts all acceptable units and conversions.  Maybe using an external package like [Pint](https://pint.readthedocs.io/en/stable/) could be a solution.

[2021-06-01 20:38] kujaku11 commented on #33
@kkappler Is there a date where the conventions changed.  For instance did FDSN update the channel codes some time and added the magnetic and electric channels to the current letter code?  Could we use the data of the metadata to use different channel code dictionaries?  If this is a one off, as Anna suggests maybe a simple workaround is fine.

[2021-06-01 20:51] kujaku11 commented on #32
@kkappler Try using branch `fix_issues` I updated experiment to take in FAP and FIR filters.

[2021-06-01 22:48] kujaku11 commented on #32
@kkappler Can you add example stationxml's that have FAP and FIR filters to the data to the `fix_issues` branch

[2021-06-02 18:18] kkappler commented on #32
@kujaku11 I added two files, one from parkfield with FIR and another one that Tim used to test the ability to embed a FAP.

[2021-06-03 21:21] kkappler commented on #2
This will involve
@kkappler to generate the data that goes into the container from aurora
@kujaku11 to formulate the datastructure

The pipeline from EMTF_XML to IRIS DB is already done with a pipeline that is fairly robust.  We just need to tap this pipeline.  @tronan @anna can help with any kinks in the pipeline.

@kujaku11 : to provide karl with an example file ready for "data populating", and

[2021-06-03 21:27] kkappler opened #36 "MTPy MT() Object Review"
Pull MTPy and take a look at the MT() object, and see how the Transfer Functions from Aurora will fit into this container and then review .

Focus on
mtpy/core/mt.py

You will need to look at Tipper and Impedance Tensor.
Variances are stored right now, but the covariances are not.
** Covariances not stored right now.
Some say full covariances are needed todo the rotations for the errors.  This is

[2021-06-03 21:30] kkappler commented on #20
This seems to be working to first order.

[2021-06-03 21:30] #20 closed

[2021-06-03 21:32] kkappler commented on #24
all tests are loading from the mt_metadata/data folder

[2021-06-03 21:32] #24 closed

[2021-06-03 21:41] kkappler commented on #26
Karl is pulling miniseed data from ROVER with some commands from Tim.  These commands yield local mseed files but there are a couple of issues:
1. In my specific case (PKD) there are some hacks needed for channel codes.
2. I would like to be able to control where the file lands or have programmatic access to the files that arrive.  I think I need a tutorialand is ready to add it to MTH5

So, lets

[2021-06-03 21:46] kkappler commented on #28
there is only one readme now

[2021-06-03 21:46] #28 closed

[2021-06-03 21:57] kkappler commented on #30
Units get encountered in Channel and in the filters (stages).  Let's put a list of all the encountered units somewhere

Notionally, we should be able to get away with two mappings.  The keys can be the full, lowercase unit label,and the values can be "how we write on a graph", with a longhand and shorthand option.  However, this could/should stand-in for integration with Pint.

It would be a good

[2021-06-03 22:11] kkappler commented on #32
FIR is making it into the experiment.surveys[0].filter_list

@kkappler will check if/whynot these are being applied and comment here

[2021-06-03 22:16] kkappler commented on #33
I really don't know.  I know that when I used the NCEDC data circa 2010, all magnetometers were archived with "T" code. ... and vertical electric dipoles were Q1.  I reached out to Doug Neuhauser at BSL to get some insight into this issue and no response.

[2021-06-10 21:33] kkappler commented on #4
Go for it.  This seems to be partially blocked by some security issues on Jared's work machine ... how to get around this in general?

[2021-06-10 21:35] kkappler commented on #13
This should be fixed.  Closing for now.
Also, default logging level now set to INFO rather than DEBUG

[2021-06-10 21:35] #13 closed

[2021-06-10 21:55] kkappler commented on #27
tests/timeseries/filters/test_filters.py Dropping this was correct, it was redundant and test_electric_unit.py  test_magnetic_unit.py handle these tests now.

[2021-06-10 21:58] #27 closed

[2021-06-10 22:13] kkappler commented on #30
Added mt_metadata/util/units.py as a place to start tracking all unit stuff.  91102d1..ef264cf
Once the lists of units mature we can revisit what the units should be like.

[2021-06-10 22:13] #30 closed

[2021-06-10 22:32] kkappler commented on #32
They are landing in the filter list

[2021-06-10 22:32] #32 closed

[2021-06-10 22:40] kkappler commented on #33
Jared has hacked around the "T" instead of "F" issue for magnetic channel code.
Karl's one off code is in iris_mt_scratch/sandbox/io_helpers/test_data.py
as def scan_network_for_nonconformity(inventory)

[2021-06-10 22:41] kkappler commented on #34
#32 is solved and #33 is hacked around so this issue is ready to attack.

[2021-06-10 22:49] kkappler opened #37 "Two Filter Plotting Functions should be merged into One"
At a minimum, put all filter plotters into a single module.  Remove redundancies.

<1>
mt_metadata/timeseries/filters/filter_base.py:140:from mt_metadata.timeseries.filters.plotting_helpers import plot_response
</1>

<2>
mt_metadata/timeseries/filters/filter_base.py:303:    def plot_complex_response(self, frequency_axis, **kwargs):
mt_metadata/timeseries/filters/filter_base.py:304:        from iri

[2021-06-11 15:59] lheagy commented on #4
It looks like 0.1.1 was released on May 12? https://github.com/kujaku11/mt_metadata/releases/tag/v0.1.1

should I bump to 0.1.2?

[2021-06-11 19:28] kujaku11 commented on #4
@lheagy Let's wait on the bump version release for a second, I want to pull updates into main and then we can release that as 0.1.1?

[2021-06-11 21:46] kkappler commented on #34
This is done except for the effect of the FIR filters.

We need to be careful here, because the FIR filters operate on data at differing sampling rates.

Likely we will want to compute the response for each of these filters but do so as if the filter was applied to data of the "input_sampling rate" of that stage. Which means that we need to propage the input sampling rate attribute from the obspy

[2021-06-11 22:39] kkappler commented on #34
Adding a property to the FIR filter called
decimation_input_sample_rate
This property is in the obspy.core.inventory.response.FIRResponseStage that is read in from the inventory

To  make this property appear in the mt_metadata filter instance we need to do the following things:
1. We add the property to the relevant standards.json.  In this case fir_filter.json
2. We add a reference in the obspy_

[2021-06-11 23:21] kujaku11 commented on #4
@lheagy We just did the pull request and all tests pass.  We can go ahead an release the main as either 0.1.1 or bump it to 0.1.2.

[2021-06-12 00:37] kkappler opened #40 "Add IIR filter to mt_metadata/filters"
This should be the last common filter representation we will need.

[2021-06-12 01:03] kkappler commented on #34
@kujaku11 When using the json standards model for populating the filters, I couldn't find an example of how to instantiate a property to a default value.  I am thinking about adding a property "decimation_active" to filters_base.py.  I suppose I would make it required, and basically the behaviour I would like is that it is false unless when reading from obspy stage I observe something like stage.d

[2021-06-12 01:37] kkappler commented on #34
Filters seem to come with symmetry "None" or "EVEN"

![FIR_AD32M](https://user-images.githubusercontent.com/1154939/121761336-f9119c80-cae3-11eb-9c37-bb6df5704488.png)
![FIR_F96C](https://user-images.githubusercontent.com/1154939/121761339-fadb6000-cae3-11eb-8ba0-c58e35eb22a5.png)
![FIR_FS2D5](https://user-images.githubusercontent.com/1154939/121761341-fca52380-cae3-11eb-8aa1-fcd11e43abf8.png)

[2021-06-12 01:51] kkappler opened #41 "Filters Plot function should take an argument for a save_path"
plotting is fine but we should provide functionality for all plots to be saved to some path.
Basically add a kwarg called save_path and if it is not None plt.savefig(save_path.png)

Blocked by #37

[2021-06-12 01:57] kkappler commented on #34
The next step here is to get clarity on symmetry.  Most likely we just hstack(x, fliplr(x)) to get the whole filter.

There is ambiguity if these filters are applied from the left or the right as well.  For symmetric filters it probably doesn;t matter but for the non-symmetric compare the time series and spectra of data filtered with lfilter and rfilter

Pausing to work on TFs

[2021-06-14 15:28] lheagy commented on #4
sounds good -- I will get that done today

[2021-06-15 14:44] kkappler opened #42 "Pass mth5 station_metadata to transfer_function_header"
Gary's transfer_function_header class contains station_header objects for local and remote sites.  We probably want to emulate this but let's take our "station_header" object to be an mth5 station metadata object.

[2021-06-15 14:46] kkappler commented on #42
whoops, I meant to create this under aurora.  Not sure how to transfer the issue as I can't find the aurora repo when I push the "Transfer Issue" button at the bottom.  @lheagy  can we take a look at this on Wednesday time permitting?

[2021-06-15 23:03] kujaku11 commented on #42
@kkappler This can be a duplicate for Aurora but can reside here.  Suggest we add a metadata object, like Processing that would take in the objects that need to be passed from the timeseries to the transfer function:

- Station (`mt_metadata.timeseries.Station`)
- Remote References list of `mt_metadata.timeseries.Station` objects
- Channels used, "runs" used, etc.
- Processing parameters

[2021-06-27 01:30] kkappler opened #46 "Bug In Properties assignment in FIR filter"
In the StationXML it says:
 <InputSampleRate unit="HERTZ">2000.0</InputSampleRate>
But when I read the filter the sps is 200.0

This took a bit of debugging but what is happening is that inside the data-acquistion box they are applying the following scheme:
Native data is sampled at 32000Hz
This is downsampled to 2000Hz by fir "AD32M"
This is downsampled to 400Hz by fir "fs2ds"
This is downsampled

[2021-06-27 01:57] kkappler commented on #46
I made the fix, so that the 5x decimation filters {2000-->400Hz & 200-->40Hz} are labelled differently.

However, something is wrong.

The 2000-->400Hz filter has a 3dB cutoff frequency of nominally 14Hz (which is appropriate for 40Hz data with 20Hz Nyquist) ...
BUT the 200-->40Hz filter has a 3dB cutoff frequency of nominally 2.8Hz.  This cannot be correct.

Ah, it is because of angular_frequency

[2021-06-27 01:59] kkappler opened #47 "Move pass_band() method higher in the class hierarchy"
We originally put this in the pole-zero filter, but this is a relevant thing to many filters.  It should either move into the base class, and/or factored into a helper function.

[2021-06-27 16:18] kkappler commented on #47
While we are at it, let's review the intended significance of "normalization_frequency" method.

http://docs.fdsn.org/projects/stationxml/en/latest/reference.html#stagegain-required
In stationXML the stage gain and associated frequency are required.  So while we may want to estimate a normalization frequency for non-stationXML representations, we may wish to override this method with the value fro

[2021-06-27 17:43] kkappler commented on #35
The AAF FIR filters are now working at least for the Quanterra data.  The can now be applied or not applied by the kwarg include_decimation in channel_response_filter.py.

[2021-06-27 17:43] #35 closed

[2021-06-27 17:45] kkappler commented on #34
symmetery handled with the help of the fdsn [online manual](http://docs.fdsn.org/projects/stationxml/en/latest/reference.html#stagegain-required) and the pdf of the seed manual.

All calibrations now work.

[2021-06-27 17:45] #34 closed

[2021-06-27 17:51] kkappler commented on #33
I Propose to use the workaround methods and scripts to create a Parkfield/Hollister mth5 file that we commit to the repo for testing.  That specific file can be maintained.  The scripts that make it can serve as an example for how to make an mth5 from unconventional xml, but we probably don't want to support these odd duck files in general.

I'll plan to get Gary's synthetic data and the parkfield

[2021-06-27 17:54] kkappler opened #48 "coefficients plotter for FIR filters"
It would be nice to have the option to see the time domain representation of the filter taps

[2021-06-27 20:34] kujaku11 commented on #33
@kkappler sounds like a good plan, I would put the StationXML file in mt_metadata/data/station_xml and we can make a script in mt_metadata to convert the StationXML into an Experiment.  And another script in MTH5 to make an MTH5 file or just have one script in MTH5.

[2021-06-27 20:35] #4 closed

[2021-06-27 20:43] kujaku11 opened #49 "Make and XSD and JSON Schema files to validate against"
We need to create an XSD file and a JSON Schema file to validate an experiment against if someone want to use external tools.

It would be great if we could do this dynamically, or with a script in the event that standards are updated.

Look at tools like [xmlschema](https://github.com/sissaschool/xmlschema) and [jsonschema](https://github.com/Julian/jsonschema)

[2021-06-27 22:42] kujaku11 opened #50 "Experiment should have attributes"
`timeseries.Experiment` should have attributes like:

- time_period
- location
- name
- description

These quantities should be derived from the survey list.

[2021-06-28 19:48] kkappler opened #51 "Review handling the case of empty filters_list"
mt_metadata/mt_metadata/timeseries/filters/channel_response_filter.py
currently does:
_validate_filters_list()
with the following logic:

if filters_list in [[], None]:
    return None

Because so many things that operate on filters_list assume an iterable, the code will probably be more readable if we use  an empty list rather than None.  That said, the filters list will practically almost never

[2021-06-29 00:42] kkappler commented on #46
I updated the decimation_active method to identify when a decimation filter is being applied.
If decimation_active is True, the filter_name assignment is the concatenation of the existing filter name plus the input sampling rate.  This has solved the bug.

[2021-06-29 00:42] #46 closed

[2021-06-29 00:55] kkappler commented on #51
I made the change and tested successfully with aurora driver.  Also modified complex_response so that no filters returns an array of 1's for a calibration function.

[2021-06-29 00:55] #51 closed

[2021-07-17 00:03] kkappler opened #52 "potential circular import"
mth5 imports from mt_metadata often, but there is a one off case where mt_metadata is importing from mth5.  Should that example be migrated to mth5?

mt_metadata/examples/mth5_from_stationxml.py
has on line 12:
from mth5 import mth5
This is the only import from mth5 in the entire main branch.

Discussing the ecosystem dependencies of all the repositories in play, it looks like
mt_metadata > mth5 >

[2021-08-09 23:47] kkappler opened #53 "No warning of multiple epochs given when translating inventory"
When multiple instances of the same channel inhabit a stationxml, only one instance (the first one it seems) is returned by the translator from inventory to experiment.  There is not necessarily wrong but one might expect a warning that of the three distinct channels in the file, two of them are being ignored by the translator.

Attached to this issue is a .txt file.  This file is actually a stait

[2021-08-17 22:39] kujaku11 opened #54 "Creating FAP Filter"
I cloned your main branch, installed mt-metadata using the setup.py file and tried to create a frequency_response_table_filter and convert my filter to an ObsPy stage. I ran into the following error:
[code]
I updated my local copy of your branch with the following fix: `except IndexError` (line 248) and was able to convert my filter to an ObsPy stage. Not a big deal but I just wanted to bring it u

[2021-08-19 17:14] MaevaP commented on #54
Here is the workflow that I followed to create a frequency table filter and convert the created filter to an ObsPy stage.

[code]

Find attached the calibration file (FAP table) I used as input. In this file, the responses of the logger and sensor (fluxgate in this case) are combined.
[LEMI-424_N131_Bx.rsp.zip](https://github.com/kujaku11/mt_metadata/files/7016441/LEMI-424_N131_Bx.rsp.zip)

In thi

[2021-08-20 22:34] kujaku11 commented on #54
@MaevaP I replicated the bug.  Thanks for the find.

Added IndexError to the exception list in line 248 of channel_response_filter.py.  Which should fix the issue.

The instrument sensitivity looks close to correct basically 1 at 0.04 Hz.

Reopen this if that did not fix the issue.

[2021-08-20 22:34] #54 closed

[2021-08-23 16:47] MaevaP commented on #54
@kujaku11
Just tested your fix and it works. Thank you for the quick turnaround.

[2021-08-28 23:19] kkappler opened #55 "Sanity checks for metadata parameters"
Working on CAS04 test dataset for aurora I encountered the following filter:

{
     "coefficient_filter": {
         "calibration_date": "1980-01-01",
         "comments": "analog to digital conversion",
         "gain": 484733700000000.0,
         "name": "v to counts (electric)",
         "type": "coefficient",
         "units_in": "V",
         "units_out": "count"
     }
 },

The ADC gain is

[2021-08-31 00:37] kkappler opened #56 "plot_response function for PoleZero filter not showing poles-zero diagram"
Here is a snippet that makes the plot I attach in a screengrab.  Not sure why there aren't x's and o's being plotted for the poles and zeros in the subplot on the far right -- could be an axis scaling issue.
![Screenshot from 2021-08-30 17-23-23](https://user-images.githubusercontent.com/1154939/131423197-2ad63235-b3a0-42ce-9536-32f82ebbc314.png)

[code]

[2021-09-07 22:02] kujaku11 opened #57 "Store transfer functions as xarray"
It would be convenient if the transfer function and covariances were stored in an xarray.DataSet.  The coordinate could be period or frequency, and dims or variables could be zxx, zxy, zyy, zyx, tzx, tzy, ...

[2021-09-14 23:30] kkappler opened #58 "Filters keys no longer have expected values"
We had talked about adding the station label as part of the filter key, but it looks like the string representation of the station object wound up getting associated with the filter key, not the label.

i.e. instead of prepending

"PKD"

this was prepended instead:

[code]

![Screenshot from 2021-09-14 16-26-48](https://user-images.githubusercontent.com/1154939/133347050-2341b630-5abe-4059-886d-78

[2021-09-16 18:51] kkappler commented on #58
Assigning to myself -- I think this problem actually lives in aurora -- will update ASAP

[2021-09-16 18:59] kkappler commented on #58
My bad, this was an aurora issue.  Sorry!  Fixed with aurora commit 56748b4e5555f96ce75c42048744b7156c083da1

[2021-09-16 18:59] #58 closed

[2021-09-22 16:36] kujaku11 commented on #57
@kkappler For the inverse coherent signal power matrix, this is a covariance of all magnetic channels used in the processing?  Right now it’s a 2 x 2 complex matrix where the input channels and output channels are the 2 horizontal mag channels and then a separate matrix for the vertical.  Can we combine this into a 3 x 2 matrix with input [hx, hy] and output [hx, hy, hz]?  If we were to generalize

[2021-09-22 23:43] kkappler opened #59 "strip dependencies of mtpy from fix_2 branch"
I was struggling with getting tests running on the new branch  due to the following import:
from mtpy.utils.mtpy_logger import get_mtpy_logger

FWIW here are all the mtpy calls I see in the current pulled version
[code]

[2021-10-15 04:14] kkappler opened #61 "Failing to write emtfxml"
This is a little tricky to debug.  Trying to write emtfxml, and encountered some issues.

1. In emtfxml I encountered an AttributeError in emtfxml.py because the station_metadata did not have a valid datatype.  I looked at the standards/station.json and saw that, for example LPMT should be a valid code.  However, manually overwriting with that did not work.  I wound up having to change it to "MT"

[2021-10-15 19:51] kujaku11 commented on #61
@kkappler good find.

For the first  issue, this is a standards issue in `mt_metadata.transfer_functions.emtfxml.standards.emtf.json`  I had only MT_TF as an option as you found out.  I added LPMT_TF and "other" which will allow for others.

The second issue is a little more ominous.  I'm gonna have to run your code to see where that is coming from.

[2021-10-15 20:07] kkappler opened #62 "emtfxml station datatype and mt_metadata station data_type need to merge"
These are supported in mt_metadata:
[code]

emtfxml only supports MT, other, LPMT

[2021-10-18 20:03] kujaku11 commented on #61
I think that this issue is finished for the moment.  There maybe some subtleties with how metadata is propagated, but those can be different issues.

[2021-10-18 20:03] #61 closed, assigned to kujaku11

[2021-10-18 20:07] kujaku11 commented on #62
Adjusted the standards

[2021-10-18 20:07] #62 closed

[2021-10-18 20:17] #2 closed, assigned to kujaku11

[2021-11-01 06:10] kujaku11 opened #63 "Think about using Pydantic for validation and parsing"
[Pydantic](https://pydantic-docs.helpmanual.io/) is a pretty mature package that could be used for base validation, it could be faster than what is currently written in `base/metadata.py`

Could also look into [Param](https://param.holoviz.org/) but that maybe specific for gui's.

[2021-11-01 23:02] kujaku11 opened #64 "Translation of MT metadata to StationXML is not quite right yet."
- The order of the runs is should be alphabetic or numeric, currently random. Probably has to do with how the runs are collected.
- Survey:
    - Missing: `survey.id`, `operator.contact`
- Channel:
    - Missing `latitude`, `longitude`, `elevation` values, which seem to be filled from the station metadata.
    - `calibration_units` should be physical units

@akelbert Can you find any other issues?

[2021-11-01 23:25] kujaku11 commented on #55
I think that we've figure this out, but maybe a warning would be in store if something is too large.

[2021-11-01 23:27] kujaku11 commented on #36
For now we will have all transfer functions read in by mt_metadata and passed to MTpy to plot.  Will close this issue for now.

[2021-11-01 23:27] #36 closed

[2021-11-02 21:39] akelbert commented on #64
@kujaku11 yes, also:

- The order of Channels should be Hx,Hy,Hz,Ex,Ey (currently random)
- Need to encode analog Coefficient filters as PolesZeros with a StageGain
- Units "Name" should use standard abbreviations (e.g., nT etc)
- Station iris:alternateNetworkCodes is a missing attribute
- Equipment.Description is written out randomly (not alphabetically)
- Magnetic Response.InstrumentSensitivity.

[2021-11-02 23:51] kujaku11 commented on #64
@akelbert

- [x] The order of Channels should be Hx,Hy,Hz,Ex,Ey (currently random)
- [ ] Need to encode analog Coefficient filters as PolesZeros with a StageGain
    - I don't think this is a bug, if that's the way we need to encode it then the input should be a `PoleZeroFilter` with a gain.   It would be too complicated to sometimes convert to a `CoefficientFilter` and sometimes to a `PoleZeroFil

[2021-11-03 02:43] akelbert commented on #64
@kujaku11 cool, thanks! All makes sense, mostly.

Re: Equipment.Description, not an issue except insofar as on comparison between my codes and yours we wish to eliminate unnecessary differences.

Re: Response.InstrumentSensitivity.Value, I'm not an engineer and might need to be guided here a little. Are you saying that the correct conversion is not 1 nT = 100 count but 1 nT = 100.905 counts? Is th

[2021-11-04 18:10] kujaku11 commented on #64
@akelbert

It would appear that 100 is an approximation, at least from how the filters are represented, now the filters could be slightly off.  @kkappler could you shed some light on this small discrepency between the filter sensitivity being 100.905 counts per nT?  Do you think its correct?  It could be the filters, cause I'm guessing the digitizer is the same as the electric channels and that ha

[2021-11-04 18:38] kujaku11 opened #66 "Comments should have attributes"
Currently `comments` are free form strings, but to be more explicit a  there should be `Comments` class.  It should be a list of  `Comment` objects.  A `Comment` would have attributes:

- `comment` --> a string comment
- `date`         --> date the comment was added
- `author`     --> `Person` object that has name and contact info

[code]

[2021-11-04 22:02] kujaku11 opened #67 "Tests failing from Obspy Error"
There has been an update to setuptools that breaks the Obspy installation. Duplicate issue https://github.com/obspy/obspy/issues/2896

[2021-11-08 17:44] kujaku11 commented on #67
Seems like this got fixed, closing for now.

[2021-11-08 17:44] #67 closed

[2021-11-08 22:15] kujaku11 opened #68 "When Units are None?"
@kkappler, @timronan

When `input_units` and `output_units` are None an error was thrown because a `None` unit was not defined.

I updated the code to allow `None` as an input, it returns all `unknown` values for the unit object.  I also added a key word argument to `mt_metadata.utils.units.get_unit_object(value, allow_none=True)`.  This may be a hack since we should probably force the user to inp

[2021-11-09 18:01] timronan commented on #68
@kujaku11 this seem like a good work around for the problem. It is good that a value, Unknown, is assigned to the units in the MT metadata unit object.

Input and output unit are required for both the Dataless Seed and Stationxml schemas.  Saying this, there are probably some older metadata that are missing units, so it is useful to have this flag for conversion proposes. It will allow us to norma

[2021-11-10 04:00] kkappler commented on #68
I agree.  Let's set to True to keep tests passing and it can be something that is set to False by default for a later release.  An issue can be added in aurora to run tests with this set to False to flush out any datasets / cases with undefined units in future.

[2021-11-15 23:28] kujaku11 commented on #68
Ok, for now `unknown` units are allowed.  Will close this for now, but can be reopened in the future.

[2021-11-15 23:28] #68 closed

[2021-11-15 23:29] kujaku11 commented on #47
A `pass_band` attribute has been added to all filters and the `normalization_frequency` is estimated based on the `pass_band`.

[2021-11-15 23:29] #47 closed

[2021-11-15 23:31] kujaku11 commented on #42
The metadata has been handled for this case to make a self describing transfer function.

[2021-11-15 23:31] #42 closed

[2021-11-20 02:41] kujaku11 commented on #56
This issue is fixed in a recent commit 2cf5981.

Made the plotting function more specific to the filter objects.  Will only create a pole zero scatter plot if they exist.

[2021-11-20 02:41] #56 closed

[2021-11-23 06:21] kujaku11 commented on #55
@kkappler What would be too large?  Would you check for units, like make sure that its a calibration from counts to units first, then check the scale of the gain?

[2021-11-24 03:01] kkappler commented on #55
Id suggest for now that greater than 2**32 should get a warning.

Most systems are 24 bit but there are 32 bit out there, so total number of available counts ~(2**n-1) where n is number of bits, n=32 max (today).    The range of admitted voltages I'm not as sure but some coils can output a few volts.

i.e. 2**32 > 2**32/a_few_volts

2**32/a_few_volts is about as large a cpv factor I would expect.

[2021-12-17 04:10] kujaku11 opened #74 "Add a default value to the standards"
Should add the ability to set a default value from the standards dictionary.  This will reduce code and allow users to set their own defaults.

[2021-12-17 04:12] kujaku11 commented on #48
Each filter has a `plot_response` method now which should address this issue.  Gonna close it for now.

[2021-12-17 04:12] #48 closed

[2021-12-17 04:13] kujaku11 commented on #37
This has been done in filters, there is now a `plot_response` function that will plot the amplitude and phase and if poles and zeros are present, will plot those in a separate subplot as well.

[2021-12-17 04:13] #37 closed

[2022-01-28 17:47] kujaku11 opened #76 "Metadata Suggested Updates"
This issue will be for suggestions for metadata standards.  Please include the following information in your suggestion

**name**: used full path name, e.g. *survey.new_attribute.attribute*
**required**: [ True | False ]
**type**: [ string | float | integer ]
**style**: [ ACCEPTED STYLE]
**description**: Full description of the new metadata key
**options**: input only if style == "controlled vocab

[2022-01-28 17:52] kujaku11 commented on #76
- name: survey.funding_source (could be a Person --> funding_source.email, funding_source.organization, funding_source.name)
- required: [ False ]
- type: [ string  ]
- style: free form
- description: Description of the funding source
- options: None
- units: None
- alias: None
- default: None

[2022-02-08 23:55] kkappler opened #78 "Possibly Inconsistent Standards for IGRF label"
Running some test runs of aurora and I encounter the following error after the TF is computed:
[code]

A scan of the mt_metadata codebase for the string IGRF shows that it only occurs in the form "IGRF-13" in .py files, but occurs as "IGRF" in some json standards files.

@kujaku11 Can you check if this is expected behaviour? I am running these tests locally on _main_ branch.

[code]

[2022-02-09 20:58] kujaku11 commented on #78
@kkappler Good catch, I think how it is meant to be is that there is a:

`location.declination.model = IGRF`
'location.declination.epoch` = 2013`

for `IGRF-13`.

I'll try to update the documentation on this.  This may not be the standard way to record a declination model?

[2022-02-09 23:46] kujaku11 commented on #78
@kkappler Added "other" to the standards which will allow for IGRF-13 in the transfer function metadata.  You were right there was inconsistency between timeseries and transfer function metadata.  This fix with provide consistency.  Merged into `main`

[2022-02-09 23:46] #78 closed

[2022-03-15 01:16] kujaku11 opened #80 "TF and Timeseries station, run, channel metadata should be same"
Currently there are 2 branches of metadata one for time series and one for transfer functions.  Each of these were derived more or less from existing products (like EMTFXML) and therefore are slightly different.  This causes errors when trying to use TS metadata with TF objects and vise-versa.

Should try to synchronize these better so they are more compatible.  And in the end there should be one

[2022-03-18 05:15] kujaku11 commented on #80
Fixed in Pull Request #79

[2022-03-18 05:15] #80 closed

[2022-03-18 05:16] kujaku11 commented on #74
fixed with PR #75

[2022-03-18 05:16] #74 closed

[2022-03-18 05:19] kujaku11 commented on #41
can return fig and use fig.save()

[2022-03-18 05:20] kujaku11 commented on #3
Calling the documentation adequate.

[2022-03-18 05:20] #3 closed

[2022-03-18 05:28] kujaku11 opened #82 "Channels and Stations should have a standard naming convention"
Channels and Station should have a standard naming convention, something like FDSN has.

Stations can be more relaxed maybe 8 characters max of alphanumeric, starting with a couple of letter representing the survey and a couple of numbers and or letters representing the station number "CL01" or "CAS04".

Channels can be a little more strict.  Should be something like {measurement_type}{component}{

[2022-04-01 15:36] brunorpinho commented on #4
PyPI is behind this repo so the package you get when you `pip install mt_metadata` doesn't play well with the rest of the ecosystem.
Temp fix:
```pip install git+https://github.com/kujaku11/mt_metadata.git```

[2022-04-15 21:33] kujaku11 commented on #64
@timronan Looks like StationXML produced from an IRIS request are different in that some of the comments repeat at the network level.  Its and xml, had to change the extension to txt. Have a look.

[v1_make_mth5.txt](https://github.com/kujaku11/mt_metadata/files/8498345/v1_make_mth5.txt)

[2022-04-15 21:50] timronan commented on #64
I see the duplication: The network information is normally handled manually so I need to track this bug down.

http://service.iris.edu/fdsnws/station/1/query?net=8P&starttime=2019-01-01T00:00:00&level=network&format=xml&includecomments=true&nodata=404

[2022-04-15 23:58] kujaku11 opened #83 "Units spelling"
Units should accept various spellings like `meter` vs `metre`

One way to get around this would go back and force abbreviations which are agnostic to spelling.

I like whole words it is less ambiguous, but maybe that's not the standard.

CF standards have attributes for:

`long_name` - full name separated by underscore (millivolts)
`units` - abbreviation (mV)
`standard_name` - a standard name (mil

[2022-04-16 00:08] timronan commented on #64
@kujaku11 I updated the metadata for CAS04, NVR08, CAV07,  NVR11, REV06.

Let me know if you see any issues.

These data are available at:

[CAS04] http://service.iris.edu/fdsnws/station/1/query?net=8P&sta=CAS04&starttime=2019-01-01T00:00:00&level=channel&format=xml&includecomments=true&nodata=404

[NVR08] http://service.iris.edu/fdsnws/station/1/query?net=8P&sta=NVR08&starttime=2019-01-01T00:00:0

[2022-05-09 00:39] kkappler opened #84 "zss file writer"
If I have an object ```tf_cls``` of type ```mt_metadata.transfer_functions.core.TF```

Which was created using single station (RME) processing, if I call:

```tf_cls.write_tf_file("test.zss", file_type="zss")```
I get:
[code]

```tf_cls.write_tf_file("test.zmm", file_type="zss")```
a file is created, but there is no data, just headers

Once z-file IO is sorted out the ```TransferFunctionCollection

[2022-05-09 02:22] kkappler opened #85 "Example of how to manually assign coordinates to run_group"
[code]

Setting latitude in the location object has the expected result:
[code]

And the information does propagate to the station_group
[code]

But it does not propagate to the run_group
[code]

@kujaku11 Is this expected behaviour?  Or should the run_group inherit the location info from it's station group?

[2022-05-09 02:25] kkappler commented on #85
Once this is sorted out, the comments and reference to this issue can be deleted from

[2022-05-14 18:56] kkappler opened #86 "MTime does not accept channel_summary timestamps"
Given an mth5 channel_summary dataframe, an example start column element is:

When I try to pass the start,end when asking for a run_ts, I get

`ValueError: Time zone must be UTC`

Even though the pandas Timestamp says it is UTC.

I checked the MTime() tests in

and couldn't see a test that uses pandas Timestamps. However, if I just pass MTime a normal pandas timestamp:

`MTime(pd.Timestamp(1980,1

[2022-05-14 18:57] kkappler commented on #86
channel_summary_df uses this call to make the start column

pd.to_datetime(df.start.str.decode("utf-8"))

[2022-06-09 19:07] kujaku11 commented on #76
Suggest adding `timing_system.n_satallites`

[2022-06-09 19:11] kujaku11 commented on #76
Suggest adding uncertainty to `location`

[2022-06-15 16:56] kujaku11 commented on #76
for `data_logger` should add `software`, `hardware`

And channel could add `hardware`

[2022-06-18 20:43] kkappler opened #87 "update_bounding_box fails on empty networks"
Context:
While working on a method to access data from IRIS in aurora (tests/cas04/01_make_cas04_mth5.py), I get a ValueError part way through the make_mth5_from_fdsnclient.

I am providing detailed request lists, one row per each channel and run.

For some reason, the inventory object (around line 64 of `mt_metadata/timeseries/stationxml/xml_inventory_mt_experiment.py`) has four networks, the fir

[2022-06-25 19:25] kkappler commented on #85
I wound up factoring this mini test out, it is now in its own file in aurora
`aurora/sandbox/debug_mt_metadata_issue_85.py`

Currently it is on the aurora `fix_issue_80` branch

[2022-07-06 20:25] kkappler commented on #86
Here is a snippet showing how I worked around it for now.
This is in `aurora/pipelines/process_mth5.py `
[code]

[2022-07-07 04:16] kujaku11 commented on #86
This should work now, closing for now

[2022-07-07 04:16] #86 closed

[2022-07-07 16:54] kujaku11 commented on #85
@kkappler  After you change the metadata, you'll have to run the method `write_metadata` to be sure that it is written the HDF5, then when you call `run_group.station_metadata` it will pull the newly written metadata from the station metadata.

[2022-07-08 02:37] kkappler opened #90 "Test"
In aurora `process_mth5.py` around line 450 is the following:

[code]

The question here is whether the survey dict that is passed to the export_tf method has all the appropriate metadata.

If the mth5s are from the same survey (very likely) this maybe moot, but it should be checked before the comment is removed, and also, if it doesn't matter if we have one or more mth5 (because survey dict is th

[2022-08-01 00:43] kkappler opened #91 "Support for arbitrary channel nomenclature"
See aurora issue#74 in aurora.

After some kerfungling, I have successfully mapped channel names on synthetic data using a dictionary and produced TFs from LEMI-like labelling on synthetic data.

The changes I had to make are on aurora branch issue_74.  I did have to make some changes in mt_metadata as well, namely:
mt_metadata/transfer_functions/core.py
mt_metadata/transfer_functions/io/emtfxml/e

[2022-08-28 18:03] kkappler opened #94 "zss and zrr files not output when requested"
Currently .zss, .zrr are not supported in mt_metadata.

in the code below, tf_cls is a populated object of type `mt_metadata.transfer_functions.core.TF`

Executing:
`tf_cls.write_tf_file("testzss.zss", file_type="zss")`
or
`tf_cls.write_tf_file("testzss.zss", file_type="zmm")`
yields:
`KeyError: "Writer for the file type zss does not currently exist. Current writers ['edi', 'zmm', 'j', 'emtfxml',

[2022-08-30 18:04] kujaku11 commented on #94
Duplicate of #84

[2022-08-30 18:04] #94 closed

[2022-08-30 18:08] kujaku11 commented on #76
Suggest making filter have single units of filters.  Currently the standard is:

[code]
Suggest changing it to:

[code]

That way there doesn't need to be a test for the length of names and applied, they always come in a pair.

[2022-09-06 21:25] k-a-mendoza opened #95 "MTSchemaError"
While trying to convert .avg files to .edi, I ran into the following Error:

[code]

At line 360 in

```mt_metadata\base\metadata.py```

The code is really simple. I'm just feeding a '.avg' file into a TF object.

[code]

[2022-09-06 22:08] kujaku11 commented on #95
@k-a-mendoza Could you print the whole traceback?  I'm not sure where that is coming from, `core` or  `read_avg`

[2022-09-06 22:39] k-a-mendoza commented on #95
ah yep i did a pip install. I'll try a direct install from the branch.

[code]

[2022-09-06 22:47] kujaku11 commented on #95
@k-a-mendoza Thanks, try the latest version first and see if that fixes it.

[2022-09-08 19:36] k-a-mendoza commented on #95
Ok tried installing with
[code]

same error. I don't know if this is pertinent but its on a Windows 11 machine.

[2022-09-11 18:46] k-a-mendoza commented on #95
The Fix mostly works. There are a few .avg files where the @property annotation tries to set elevation, but it appears as if no valid elevation was read from the .avg file. Simple fixes could be:

* The center_location property to refer to any location data recovered during file reading, not just the zij properties.

* The center_location property to return ```None``` if the ``` self._comp_dict["z

[2022-09-12 21:10] k-a-mendoza commented on #95
the [0142e85](https://github.com/kujaku11/mt_metadata/commit/0142e8599987d55eb544e6fc4fb7ec9f6273f41a) latest commit appears to have resolved the issue on my end.

[2022-09-12 21:10] #95 closed

[2022-09-20 23:26] kujaku11 commented on #76
funding_source

- grant_id
- organization
-

[2022-09-20 23:48] kujaku11 commented on #76
data_logger.storage_device

- id
- type

[2022-09-20 23:49] kujaku11 commented on #76
survey.state

[2022-09-21 00:42] kujaku11 opened #98 "Licenses should read from universal list"
Licenses should be read from a universal list so the controlled vocabulary doesn't have to be updated all the time.  Checkout [SPDX Licenses](https://github.com/spdx/license-list-data)

[2022-09-21 00:42] kujaku11 commented on #83
Have a look at [](https://qudt.org//) for international standards

[2022-09-26 05:33] kujaku11 opened #99 "Reading EMTF XML files has errors"
A few errors have popped up with reading EMTF XML files. Mostly to do with reading field notes and remote info

- AttributeError: 'RemoteInfo' object has no attribute 'field_notes' (need to add field notes to remote info)
- KeyError: 'comments' (need to add comments to site standards)
- AttributeError: 'NoneType' object has no attribute 'author' (need to add comments as comments object)

[2022-09-28 19:38] kujaku11 opened #102 "Experiment, Survey need add, get functions"
Experiment needs functions for `add/get/remove_survey`

Survey needs functions for  `add/get/remove_station`

[2022-09-29 00:27] #102 closed

[2022-09-29 00:28] kujaku11 commented on #99
fixed in PR #100

[2022-09-29 00:28] #99 closed

[2022-09-29 00:37] kujaku11 opened #104 "mth5 fails to open experiment group"
The new `from_dict` method in `Experiment` causes this error in MTH5 on opening a file.

[code]

[2022-09-29 00:53] #104 closed

[2022-10-20 03:36] kujaku11 opened #108 "zmm files are empty when writing."
When writing a zmm file from a `TF` object the elements are empty.

[2022-11-16 19:05] kujaku11 opened #110 "List of next level objects should become an OrderedDict"
The list of next level objects, for example we have `Survey.stations` which is a list, but it would make more sense if this was an ordered dictionary so that one could request by key instead of index, which would make it easier to get what you want.